$brand-color: #409eff;
$success-color: #67c23a;
$warning-color: #e6a23c;
$danger-color: #f56c6c;
$info-color: #909399;
$main-text-color: #303133;
$regular-text-color: #606266;
$support-text-color: #909399;
$placeholder-text-color: #c0c4cc;
$first-border-color: #dcdfe6;
$second-border-color: #e4e7ed;
$third-border-color: #ebeef5;
$fourth-border-color: #f2f6fc;
